---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/Base.astro";
import Footer from "@components/html/Footer.astro";
import FormattedDate from "@components/helper/Date.astro";
import { siteConfig } from "@consts";
import Weather from "@components/widget/Weather.astro";

type Post = (CollectionEntry<"cpub"> | CollectionEntry<"cpriv">) & {
  isPublic: boolean;
};

const cpub = await getCollection("cpub", ({ data }) => !data.draft);
const cpriv = await getCollection("cpriv", ({ data }) => !data.draft);
const posts: Post[] = [
  ...cpub.map((p) => ({ ...p, isPublic: true })),
  ...cpriv.map((p) => ({
    ...p,
    isPublic: false,
  })),
].sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const groupedPosts = posts.reduce<Record<string, Post[]>>((acc, post) => {
  const pubDate = post.data.pubDate;
  const key = new Intl.DateTimeFormat("ja-JP-u-ca-japanese", {
    era: "long",
    year: "numeric",
    month: "long",
  }).format(pubDate);

  if (!acc[key]) {
    acc[key] = [];
  }
  acc[key].push(post);
  return acc;
}, {});
---

<BaseLayout
  title={`Archive - ${siteConfig.title}`}
  description={siteConfig.description}
>
  <main class="timeline mt-16 mb-16 flex flex-col gap-16">
    {
      Object.entries(groupedPosts).map(([month, posts]) => (
        <div class="month-group flex gap-12">
          <div class="month-header sticky top-8 min-w-48 shrink-0 text-right text-sm font-bold opacity-60">
            {month}
          </div>
          <ul class="post-list m-0 grow list-none p-0">
            {posts.map((post) => (
              <li class="post-item mb-4 flex gap-6 align-baseline">
                <div class="post-date w-12 shrink-0 text-center text-sm opacity-50">
                  <FormattedDate date={post.data.pubDate} format="day" />
                </div>
                <div class="post-title grow">
                  {post.isPublic ? (
                    <a href={`/posts/public/${post.id}`}>{post.data.title}</a>
                  ) : (
                    <a
                      href={`/posts/private/${post.id}`}
                      class="locked-link text-locked-post"
                    >
                      <span class="icon">🔒</span> This post is locked.
                    </a>
                  )}
                </div>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </main>
  <Footer />
  <Weather size="big" />
</BaseLayout>
