---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/Base.astro";
import Footer from "@components/html/Footer.astro";
import FormattedDate from "@components/helper/Date.astro";
import Weather from "@components/widget/Weather.astro";

type Props = CollectionEntry<"cpub">["data"];

const { title, description, pubDate, updDate, banner } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <main class="flex flex-col items-center justify-center gap-8">
    <article class="prose prose-custom">
      <div class="hero-image mb-8">
        {
          banner && (
            <Image
              width={1020}
              height={510}
              src={banner}
              alt={description || title}
            />
          )
        }
      </div>
      <div class="title text-center">
        <div class="date">
          <FormattedDate date={pubDate} />
          {
            updDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updDate} />
              </div>
            )
          }
        </div>
        <h1>{title}</h1>
        <hr />
      </div>
      <div>
        <slot />
      </div>
    </article>
  </main>
  <Footer />
  <Weather size="small" />
</BaseLayout>
